.env
.python-version
*.ncu
*.o
*.so
*.swp
bin/
cubin/
**/__pycache__
tmp
*.txt
*.npz
!CMakeLists.txt
*.log
build
dist
wip*

datasets/*
notes/*
notes.jl
docs/_build
docs/img/*
outputs/
media/
traces/
*.ncu-rep

internal/
